extends _layout

block append meta
  link(rel="canonical" href=BASE_URL)

  - var imageUrl = BASE_URL + '/icons/icon-512x512.png';
  meta(property="og:image" content=imageUrl)
  meta(property="og:url" content=BASE_URL)
  meta(property="twitter:image" content=imageUrl)
  meta(property="twitter:card" content=imageUrl)

block append styles
  link(rel="stylesheet" href="styles/skribul-editor.css")

block append body

  canvas(id="canvas")

  .picker-container
    input(type="color" class="shadow")#color-picker

  //- .colors
  //-   each color in ['black', 'white', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
  //-     button(type="button", data-color=color class="color shadow", style="background: " + color + ";", title=color)

  .menu
    block menu
      button(type="button", class="menu-item save shadow", onclick="save()", title="Save")
        i.material-icons save
      a(href="/", class="menu-item clear shadow", title="New")
        i.material-icons refresh


  #overlay.overlay
    h4 Saving...

block append scripts
  script(src="scripts/skribul.js")