extends editor

block append meta
  - var preview = BASE_URL + '/preview/' + slug;
  - var url = BASE_URL + '/' + slug;
  meta(property="og:image:url" content=preview)
  meta(property="og:url" content=url)
  meta(property="twitter:image" content=preview)
  meta(property="twitter:card" content=preview)

block append menu
  a(href="/preview/" + slug download=slug + ".png" title="Download" class="menu-item download shadow")
    i(data-eva="cloud-download-outline")

block append scripts
  script(type="text/javascript").
    window.addEventListener('load', () => render('#{image}'));